.card {
  background-color: var(--card-bg);
  padding: 32px 18px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 1px 2px var(--shadow-2);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card a {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

.card img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card:hover {
  box-shadow: 0px 15px 15px rgb(0 0 0 / 6%);
  transform: scale(1.02);
}

.card h5 {
  margin: 12px 0;
}

.text {
  margin-bottom: 1rem;
  flex-grow: 1;
}

.text p {
  margin: 10px 0;
}

.footerItem {
  display: flex;
  align-items: center;
}

.footerItem p {
  margin: 0 0 0 1rem;
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-semibold);
}
